[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
jupyter = "*"
pandas = "*"
openpyxl = "*"
scikit-learn = "*"
pydotplus = "*"
pyknp = "==0.4.1"
psc-parse = {git = "https://github.com/satamame/psc_parse"}

[requires]
python_version = "3.8"
